body {
  background-color: lightblue;
  font-family: "Segoe UI Variable", cursive;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border-color: lightpink;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: lavender;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: lightpink;
}
